-##inq-logo
  -##header-text
    -#%h1 The Inquisition
    -#%h1 Intelligence
    -#%h1 Network
  -##subheader-text
    -#%p is a work in progress.
  -#.v-spacer40
  -##subheader-text
    -#%p But we're open for business. Let's have a <span><a href="mailto:inquisitionco@gmail.com"> chat.</a></span>
  -#.v-spacer40
  -##social-links
    -#%a{href: 'http://facebook.com/inquisitionco'}
      -#%i.icon-facebook.icon-2x
    -#%a{href: 'http://twitter.com/theinquisition_'}
      -#%i.icon-twitter.icon-2x

.page
  #inq-logo-v2
  -# %h1 INQ
  %h2 The Inquisition Intelligence Network
  -#%small Web Design &#9679; Web Development &#9679; Branding &#9679; Creative Direction
  %small Web Design | Web Development | Branding | Creative Direction
  %p
    %a.facebook-link{href: 'http://facebook.com/inquisitionco'}
      %i.icon-facebook.icon
      Facebook
    %a.contact-link{href: 'mailto:inquisitionco@gmail.com'}
      Contact Us
