.page
  #inq-logo-v2
  -# %h1 INQ
  %h2 The Inquisition Intelligence Network
  -#%small Web Design &#9679; Web Development &#9679; Branding &#9679; Creative Direction
  %small Web Design | Web Development | Branding | Creative Direction
  %p
    %a.facebook-link{href: 'http://facebook.com/inquisitionco'}
      %i.icon-facebook.icon
      Facebook
    %a.contact-link{href: 'mailto:inquisitionco@gmail.com'}
      Contact Us
