!!!
%html
  %head
    %title= "The Inquisition Network"
    %meta{:charset => "utf-8"}
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{name: "description", content: "The Inquisition Network - Web, Branding, Media"}
    %meta{name: "keywords", content: "The Inquisition Network - Web, Branding, Media"}
    %link{rel: "stylesheet", href: "http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"}
    %link{rel: "stylesheet", href: "css/styles.css"}

    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}

  %body.main
    #content
      = yield
