html {
  background: url('../images/background.jpg') 100% 100% no-repeat;
  background-position: center 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#header-text {
}

#header-text h1 {
  font-size: 45pt;
  font-family: 'Georgia', serif;
  color: white;
  padding-left: 0px;
}

#inq-logo img {
  position: relative;
  margin-bottom: 40px;
  margin-left: -15px;
}

#subheader-text p {
  font-family: 'Georgia', serif;
  color: white;
  font-size: 14pt;
  padding-left: 0px;
  margin-top: 10px;
}

#subheader-text a {
  color: rgba(210,207,207,1);
}

#content {
  margin-top: 3em;
  max-width: 850px;
  margin-left: 50px;
  margin-right: auto;
  min-height: 650px;
}

.v-spacer20 {
  height: 20px;
}

.v-spacer40 {
  height: 40px;
}

#social-links {
  padding-left: 0px;
}

#social-links i {
  color: white;
  margin-right: 20px;
  float: left;
  font-size: 24px;
}

#social-links a {
  text-decoration: none;
}
